<meta HTTP-EQUIV="REFRESH" content=<%= @redirect %>>
<div class="yellow p-5 landing">
  <div class="custom-container pt-5 text-center">
    <h1 class="pt-5">
      Thanks for your donation! You'll be redirected shortly.
    </h1>
  </div>
</div>